---
import { Image } from "astro:assets"
import { wines } from "../../data/wines"
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
import "./Catalog.css"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="catalogo" class="rg-catalog rg-noise">
  <div class="rg-container">
    <header class="rg-catalog__header">
      <div class="rg-catalog__badge">{t('catalog.badge_label')}</div>
      <h2 class="rg-catalog__title">{t('catalog.title')}</h2>
      <p class="rg-catalog__subtitle">{t('catalog.subtitle')}</p>
    </header>

    <div class="rg-catalog__grid">
      {wines.map((wine) => (
        <article class="rg-wine-item">
          <div class="rg-wine-item__image">
            <Image src={wine.image} alt={t(wine.nameKey as any)} width={400} height={600} />
            <div class="rg-wine-item__badge">{wine.vintage}</div>
          </div>
          <div class="rg-wine-item__info">
            <span class="rg-wine-item__winery">{t(wine.wineryKey as any)}</span>
            <h4 class="rg-wine-item__name">{t(wine.nameKey as any)}</h4>
            <p class="rg-wine-item__region">{wine.region}</p>
            <button class="rg-wine-item__btn">{t('catalog.detail_btn')}</button>
          </div>
        </article>
      ))}
    </div>
    
    <div class="rg-catalog__pagination">
      <button class="rg-btn rg-btn--outline" disabled>{t('catalog.prev')}</button>
      <div class="rg-catalog__pages">
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
      </div>
      <button class="rg-btn rg-btn--outline">{t('catalog.next')}</button>
    </div>
  </div>
</section>
