---
import Benefits from "../components/Benefits/Benefits.astro"
import Catalog from "../components/Catalog/Catalog.astro"
import Contact from "../components/Contact/Contact.astro"
import Hero from "../components/Hero/Hero.astro"
import Layout from "../layouts/Layout.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t('site.title')} description={t('site.description')}>
	<main>
		<Hero />
		<Benefits />
		<Catalog />
		<Contact />
	</main>
</Layout>
