---
import "./Benefits.css"
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
import { Icon } from "astro-icon/components"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="rg-benefits">
  <div class="rg-container">
    <div class="rg-benefits__grid">
      <div class="rg-benefit-card rg-glass-panel">
        <div class="rg-benefit-card__icon">
          <Icon name="lucide:award" />
        </div>
        <h3 class="rg-benefit-card__title">{t('benefits.exclusive.title')}</h3>
        <p class="rg-benefit-card__description">{t('benefits.exclusive.desc')}</p>
      </div>
      
      <div class="rg-benefit-card rg-glass-panel">
        <div class="rg-benefit-card__icon">
          <Icon name="lucide:truck" />
        </div>
        <h3 class="rg-benefit-card__title">{t('benefits.shipping.title')}</h3>
        <p class="rg-benefit-card__description">{t('benefits.shipping.desc')}</p>
      </div>
      
      <div class="rg-benefit-card rg-glass-panel">
        <div class="rg-benefit-card__icon">
          <Icon name="lucide:handshake" />
        </div>
        <h3 class="rg-benefit-card__title">{t('benefits.wholesale.title')}</h3>
        <p class="rg-benefit-card__description">{t('benefits.wholesale.desc')}</p>
      </div>
    </div>
  </div>
</section>
